{% extends 'base.html' %}

{% block content %}
    <h1> {% block title %}
         Automatically align sentences for Afrikaans
    {% endblock %}
    </h1>
    <div style=margin-left:358px> <h3> Автоматическое выравнивание текстов для языка Африкаанс  </h3> </div>
{% endblock %}


{% block text_main_1 %}
    <h4><u>What can you do on this website:</u></h4>
    <h5>On this website you can do sentence alignment or word alignment. You upload a file in Africaans and translated text. <br>
        <i>(supported English, French, German, Italian, Dutch and Russian).</i> <br>
        <br>
        <br>
        <b><i>Sentence alignment:</i></b> <br>
        When you finished uploading the file, as a result you receive two texts, where matching sentences are highlighted. <br>
        Before uploading, you need to select the tags which are in the text. If at the beginning of the text file there is the author, the title of the book,
        then you need to enter them in the special field. Do not forget to write down the format of the chapter's name indicated in your text, if there is.
        This must be done for both the original and the translation text.
        <br>
        <br>
        <b><i>Word alignment:</i></b> <br>
        You can enter sentences directly on the site and get an analysis, or you can highlight it in the text.
    </h5>
    <br>
    <br>
{% endblock %}


{% block text_main_2 %}
    <h4><u>Что можно сделать на этом сайте:</u></h4>
    <h5>На этом сайте можно выполнить выравнивание текстов по предложениям или пословное выравнивание. Вы загружаете текст на языке Африкаанс и текст с переводом. <br>
        <i>(поддерживается английский, французский, немецкий, итальянский, нидерландский и русский языки).</i> <br>
        <br>
        <br>
        <b><i>Выравнивание по предложениям:</i></b> <br>
        После загрузки, на выходе вы получаете два текста, где подсвечены соответствующие друг другу предложения. <br>
        Перед загрузкой Вам надо будет выбрать метки, которые есть в Вашем тексте. Если в самом начале текстового файла у вас встречается автор, название книги,
        то их надо будет вписать в соответствующее поле. Не забудьте прописать формат того, как обозначаются главы в Вашем тексте, если они есть.
        Сделать это необходимо как для оригинала, так и для перевода.
        <br>
        <br>
        <b><i>Выравнивание пословное:</i></b> <br>
        Вы можете ввести предложения непосредственно на сайте и получить разбор, либо Вы можете выделить его в тексте и также получить разбор.
    </h5>
{% endblock %}


{% block foot %}
    <h6><b>Контакты</b>: @steffi_haski (telegram), stefik_ah@rambler.ru (почта) <br>
      Всегда открыта для вопросов, отзывов и предложений.</h6>
{% endblock %}
